{% extends 'app/main.html'%}

{% block content %}
<div class="container-fluid">
<h5>Hi this your default home page, if you are a new user please check thoroughly 
		if your personal details are correct if it is not you may change it accordingly. If you are done
		or wish nothing to be corrected please go to your sections</h5>
	<div class="col-md-12">
<div class="row">
	
		<div class="card card-body">
			
			<form method="POST" action="" enctype="multipart/form-data">
				{% csrf_token %}
				{{form.as_p}}
		
			<input class="btn btn-primary" type="submit" name="Update Information">
			
			
			</form>
			
		</div>
	</div>
	
</div>
<br>
<a class="btn btn-warning" href="{% url 'section' request.user.id %}">Go to your Sections</a>
		
</div>


{% endblock %}